form{
    /*border:1px solid #f1f1f1;*/
    border-color: rgb(19, 17, 15);
	text-align:center;
	width: 400px;
    height: 260px;
    background:rgb(240, 233, 234) ;
    margin: auto;
    color:rgb(70, 66, 66);
    
    }
     

    

    input  {
        display: block;
        width: 260px;
        margin: 20px;
        border-radius: 5px;
        height: 12px;
        padding: 10px;
        float:center;
        border: none;
        background-color:ash;
    }

    input[type='submit'] {
        margin-top: 25px;
        color: rgb(70, 66, 66);
        width:180px;
        height:35px;     
    }

   