form{
    /*border:1px solid #f1f1f1;*/
    border-color: rgb(19, 17, 15);

	text-align:center;
   /* width:100%;
    height:100%;*/
	width: 500px;
    height: 420px;
    background: #e6e6e6;
    margin: auto;
    
    box-shadow:none; 
}
section#login-section-wrapper input {
    display: block;
    width: 465px;
    margin-top: 5px;
	padding-left:30px;
    border-radius: 5px;
    height: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(223, 242, 247);
}

section#login-section-wrapper input[type='submit'] {
    margin-top: 20px;
    background-color: cornflowerblue;
    color: whitesmoke;
	width:100px;
	height:35px;
	
}
section#login-section-wrapper input[type='submit']:hover {
    background: rgb(21, 91, 221);;
}
 h3{
	padding: 5px;
    font-family: sans-serif;
    color: #555;
	text-align:center;
}
