
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/supplierform.css">
	<link rel="stylesheet" href="supplierform.css" style type="text/css"
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/script.js"></script>
    <title>ADD A SUPPLIER</title>
</head>
<body>

 
    <section id="login-section-wrapper">

        <div id="form-wrapper">

               <H3>Add Supplier</H3>
            <form action="" method="POST">

  <input type="text" name="Supplier Name" placeholder="Supplier Name">
  <input type="number" min='0' step='1000' name="Supplier ID" placeholder="Supplier ID">
  <input type="number" min='0' step='1000' name="Category ID" placeholder="Category ID">
  <input type="address" name="Address" placeholder="Address">
  <input type="fax" name="Fax" placeholder="Fax">
  <input type="email" name="Email" placeholder="Email">
  <input type="text"  name="Status" placeholder="Status">
  <input type="text" name="Other detail" placeholder="Other Detail">
    <input type="submit" name="submit" value="Add Supplier">
  
  
   </form>
        </div>

    </section>

</body>

</html>