:root {
    --login-bg-color:rgb(148, 74, 117);
    --login-text-color: #7b7a7a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section#login-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  var(--login-bg-color) !important;
    min-height: 100vh;
}

section#login-section-wrapper > #form-wrapper {
    flex: 0 0 40%;
}


section#login-section-wrapper form > label {
    margin-bottom: 20px;
    display: block;
    color: var(--login-text-color);
}

section#login-section-wrapper input {
    display: block;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: rgb(223, 242, 247);
}

section#login-section-wrapper input[type='submit'] {
    margin-top: 40px;
    background-color: cornflowerblue;
    color: whitesmoke;
}
