:root {
    --main-sidebar-bg-color:#323232;
    --sidebar-text-color: blue;
    --main-content-bg-color: rgb(242, 252, 255);
    --page-header-text-color: #444;
}

body{
    background-color: var(--main-content-bg-color);
}

*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



#flex-child-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    color: var(--sidebar-text-color) !important;
    width: 20%;
    background-color: var(--main-sidebar-bg-color) !important;
}

#flex-child-content{
    padding: 10px;
    color: white;
    background-color: var(--main-content-bg-color);
    width: 80%;
    left: 20%;
    position: absolute;
}

#flex-child-sidebar .side-bar-menu-link{
    color: var(--sidebar-text-color);
}

.page-header{
    color: var(--page-header-text-color);
}