:root {
    --main-sidebar-bg-color: brown;
    --sidebar-text-color: black;
    --main-content-bg-color: rgb(242, 252, 255);
}

body{
    background-color: var(--main-content-bg-color);
}

*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



#flex-child-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    color: var(--sidebar-text-color);
    width: 20%;
    background-color: var(--main-sidebar-bg-color);
}

#flex-child-content{
    padding: 10px;
    color: red;
    background-color: var(--main-content-bg-color);
    width: 80%;
    left: 20%;
    position: absolute;
}