h3.dashboard_logo{
	color:#f685a1;
	font-size:40px;	
	text-align:center; 
	margin-top:3px;	
	}

	.dashboard_sidebar_user img {
		border-radius:50%;
		margin-top:-30px;
		border:2px solid #323232;
		display:inline-block;
		margin-left:90px;
		width:90px;
		color:white;
	}

	.dashboard_sidebar_user span{
		color:white;
		font-size:17px;
		text-align:right;
		width:10px;
		top:20%;
		text-transform:uppercase;
		margin-left:170px;
		margin-bottom:140px;
	}
	
	.dashboard_sidebar_user{
		position:relative;
		border-bottom:1px solid #fff;
		padding-bottom:20px;
	}

	.dashboard_menu_lists li{
		padding:8px 80px;
		font-size:17px;
		text-transform:uppercase;
		list-style-type:none;
		color:blue;
	}

	.dashboard_menu_lists li a{
		text-decoration:none;
		color:blue;
		
	}

	.dashboard_menu_lists li a:hover{
		background: #111;
		color:#f685a1;
   }

   p.change-pass {
    background: rgb(255, 52, 52);
    color: #eee;
    width: 40%;
    margin: auto;
	/* padding-right:3px; */
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    word-spacing: 2px;
    margin-top: 40px;
    border: 1px solid #323232;
    padding: 2px;
    cursor: pointer;
}

.change-pass:active{
	transform: scale(0.99);
   }
   
   
   .change-pass:hover{
	   background: red;
   }